.cart-boarder {
    display: none;
    background-color: #707070;
    border-radius: 20px;
    padding: 150px;
}

li {
    list-style: none;
}

@media (min-width: 600px) {
    .cart-boarder {
        display: none;
        background-color: #707070;
        border-radius: 20px;
        padding: 20%;
        max-width: 1000px;
        max-height: 1000px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    header .iconCart {
        position: relative;
        z-index: 1;
    }

    .cart-element {
        justify-content: left;
    }

    body .cart-element {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header img {
        width: 50px;
    }

    .cart-container {
        display: none;
        width: 1200px;
        margin: auto;
        max-width: 90%;
        transition: transform 1s;
    }

    .cart {
        display: none;
    }
}
