h2 {
    font-size: 1.5rem;
    text-align: center;
    padding: 15px 15px 30px;
}

.card, .img {

    width: 300px;
}

.card-image, .game-image {
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-container {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    cursor: grab;
}

.card-boarder {
    display: flex;
    background-color: #707070;
    border-radius: 30px;
    padding: 15px;
}

h1 {
font-size: 2rem;
justify-content: center;
}


.image-element {
    width: 300px;
}
.game-image {
    width: 300px;
    display: flex;
    justify-content: center;
}

.game-price {
    display: flex;
    justify-content: row;
}
.title {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

@media (min-width: 600px){

.card-container {
    justify-content: center;
}

}