@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

body {    

    font-family: 'Roboto', sans-serif;
    background-color:#12182E;

}


                            /*Navigation bar*/
nav,
#menu-checkbox {
    display: none;
}
#menu-checkbox:checked ~ nav {
    display: block;
}


header {
    position: relative;
    background-color: #12182E;
    background-image: linear-gradient(#12182E, #606473);
    color: #fff;
    padding: 5px;
    font-size: 1.5rem;
}
nav {
    position: absolute;
    background: #12182E;
    background-image: linear-gradient(#12182E, #606473);
    left: 0px;
    top: 40px;
}
nav a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
}

li a {
    transition: all 0.3s;
}

li a:hover {
    color: #3FA535;
}

a:active {
    color: #3FA535;
  }



@media (min-width: 600px){

    /*Navigation bar*/

nav {
    display: block;
    position: static;
}

.meny {
    display:none;
}

nav li {
    display: inline-block;
    text-align: center;
}

li a {
    transition: all 0.3s;
    
}

li a:hover {
    color: #3FA535;
}


  .logo {
    cursor: pointer;

  }

}