@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

body {    

    font-family: 'Roboto', sans-serif;
    background-color:#12182E;
    background-image: url(..//images/background-layout.png);
    background-position: cover;
    background-repeat: no-repeat;
    background-position: 0px 300px;

}

/*Navigation bar*/
nav,
#menu-checkbox {
    display: none;
}
#menu-checkbox:checked ~ nav {
    display: block;
}


header {
    position: relative;
    background-color: #12182E;
    background-image: linear-gradient(#12182E, #606473);
    color: #fff;
    padding: 5px;
    font-size: 1.5rem;
}

main {
    margin: 5%;

}

nav {
    position: absolute;
    background: #12182E;
    background-image: linear-gradient(#12182E, #606473);
    left: 0px;
    top: 40px;
}
nav a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

li a {
    transition: all 0.3s;
}

li a:hover {
    color: #3FA535;
}

a:active {
    color: #3FA535;
  }
  

  footer {
    display: block;
    position: static;
    background-color: #12182E;
    background-image: linear-gradient(#12182E, #606473);
    text-align: center;
}

footer li {
    display: inline-block;
}


/* Desktop */
@media (min-width: 660px) {

    /*Navigation bar*/

nav {
    display: block;
    position: static;
}

.meny {
    display: none;
}

nav li {
    display: inline-block;
    text-align: center;
}

li a {
    transition: all 0.3s;
    
}

li a:hover {
    color: #3FA535;
}


  .logo {
    cursor: pointer;

  }

footer {
    display: block;
    position: static;
    background-color: #12182E;
    background-image: linear-gradient(#12182E, #606473);
    text-align: center;
}

footer li {
    display: inline-block;


}
}